<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상세화면 등록</h1>

    <form name="myform" id="myform" action="" method="post">
        이름 : <input type="text" name="name" id="name"><br/>
        국어 : <input type="text" name="kor" id="kor"><br/>
        영수학어 : <input type="text" name="eng" id="eng"><br/>
        이름 : <input type="text" name="mat" id="mat"><br/>

        <button type="button" id="btnSend">등록</button>
    </form>
</body>
<script>
//html DOM구조완성되면 이벤트발생


</script>
</html>